<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/join}" method="post" name="joinForm">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="text" name="nickname" placeholder="nickname"/>
    <input type="text" name="phoneNumber" placeholder="phoneNumber"/>
    <input type="text" name="address" placeholder="address"/>
    <input type="text" name="accountNumber" placeholder="accountNumber"/>
    <input type="submit" value="Join"/>
</form>
</body>
</html>